.menu
{
    background-color: #333;

}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
}

.menu li {

    display: inline-block;
    font: small-caps bold 24px/1 sans-serif; 
}

.menu li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.menuli a:hover {
    background-color: #111;
}

.endpage{
     background-color: black;
     color: white;
     text-align:left;
     font:caption;
     padding: 5px;
 }